@import 'tailwindcss';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html {
  color: white;
}

html,
body {
  min-height: 100dvh;
  background-color: var(--color-gray-900, currentColor);
}
